.landing-desc {
    font-size: 1.5rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.spacing {
    padding: 50px;
}

.precision {
    transition: .4s ease-in-out;
    text-decoration: none;
    color: white;
}

.precision:hover {
    color:rgb(202, 149, 80);

}