.headline {
    font-size: 2.5em;
    color:rgb(202, 149, 80);
    /* text-decoration: underline; */
    font-family: 'Courier New', Courier, monospace;
    transition: .4s ease-in-out;
}

.spacing {
    padding: 50px;
}


.headline:hover {
    color: white;
}

/* @media screen and (max-width: ) {
    
} */