html {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  background-color: black;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
html {
  scroll-behavior: smooth;
}